---
import type { Langs, ProjectWithLang } from '../../../types';

import { getLangFromUrl, useTranslatedPath, useTranslations } from '../../../i18n/utils';
import { filterProjects } from '../../../utils';

import { HeaderPage } from '../../../components/ui/index.astro';
import Layout from '../../../layouts/Layout.astro';
import ProjectDetail from '../../../components/sections/ProjectDetail.astro';

export async function getStaticPaths() {
  const projects: ProjectWithLang[] = await Astro.glob('../../../content/projects/*.json');
  const lang: Langs = 'en';
  const projectList = await filterProjects({ projects, lang });

  return projectList.map((post) => {
    return {
      params: { id: post.name },
      props: { post },
    };
  });
}

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const translatePath = useTranslatedPath(lang);
const { post } = Astro.props;
const { title, name } = post;

const breadcrumbs = [
  {
    name: t('nav.home'),
    type: 'link',
    url: translatePath('/'),
  },
  {
    type: 'separator',
  },
  {
    name: t('nav.projects'),
    type: 'link',
    url: translatePath('/projects'),
  },
  {
    type: 'separator',
  },
  {
    name: title,
    type: 'current',
  },
];
---

<Layout title={`Israel Larrondo | ${title}`}>
  <div class='bg-white dark:bg-dark relative z-10'>
    <HeaderPage title={title} {breadcrumbs} name={name} />
    <ProjectDetail project={post} />
  </div>
</Layout>
