---
import { GoArrowRight } from 'react-icons/go';
import { Typography } from '../index.astro';
import { getLangFromUrl, useTranslatedPath } from '../../../i18n/utils';

const lang = getLangFromUrl(Astro.url);
const translatePath = useTranslatedPath(lang);

const { project } = Astro.props;
const { category, title, image, name } = project || {};
---

<article class='group relative'>
  <a href={translatePath(`/projects/${name}`)} class='flex aspect-[4/3]'>
    <div
      class='transition absolute z-10 w-12 h-12 p-2 rounded-full bg-white group-hover:bg-primary-300 flex items-center justify-center right-5 top-5 text-dark -rotate-45 group-hover:rotate-0 group-hover:scale-125 group-hover:-translate-y-2 group-hover:translate-x-2'
    >
      <GoArrowRight className='w-full h-full ' />
    </div>
    <div
      class='w-full flex flex-col gap-3 justify-end items-start relative z-20 inset-0 p-6 md:p-9'
    >
      <Typography class='h5 transition text-white/70 group-hover:text-white'>
        {category}
      </Typography>
      <Typography type='h3' class='h4 transition text-white group-hover:text-primary-300'>
        {title}
      </Typography>
    </div>
    {
      image && (
        <div class='absolute inset-0 transition overflow-clip group-hover:scale-105 rounded-4xl'>
          <img src={image} class='w-full h-full object-cover rounded-4xl' alt={title} />
          <div class='transition absolute inset-0 bg-gradient-to-t from-dark to-dark/0 z-10 rounded-4xl translate-y-1/4 group-hover:translate-y-0' />
        </div>
      )
    }
  </a>
</article>
