---
import { Image } from "astro:assets"
import { GoArrowRight } from "react-icons/go"

import { Typography } from "@/components/index.astro"
import { getLangFromUrl, useTranslatedPath } from "@/i18n/utils"

const lang = getLangFromUrl(Astro.url)
const translatePath = useTranslatedPath(lang)

const { project } = Astro.props
const { categories = [], title = "", images = [], name = "" } = project || {}
---

<article class="group relative">
	<a href={`${translatePath(`/projects`)}/${name}`} class="flex aspect-4/3 flex-col">
		<div
			class="text-dark group-hover:bg-primary-500 dark:group-hover:bg-primary-300 absolute top-5 right-5 z-10 flex h-12 w-12 -rotate-45 items-center justify-center rounded-full bg-white p-2 transition group-hover:-translate-y-2 group-hover:translate-x-2 group-hover:scale-125 group-hover:rotate-0"
		>
			<GoArrowRight className="h-full w-full" />
		</div>

		{
			images && (
				<div class="relative inset-0 overflow-clip rounded-4xl transition-transform group-hover:scale-105">
					<Image
						src={images.medium}
						class="h-full w-full rounded-4xl object-cover"
						alt={title}
						transition:name={`project-image-${name}`}
						width={768}
						height={576}
					/>
				</div>
			)
		}
		<div
			class="relative inset-0 z-20 flex w-full flex-col items-start justify-end gap-3 py-6 md:py-8"
		>
			<div class="flex gap-2">
				{
					categories.map((cat: string, i: number) => (
						<Fragment>
							<Typography type="span" class="highlight text-dark/60 dark:text-white/70">
								{cat}
							</Typography>
							{i < categories.length - 1 && <span class="text-dark/40 dark:text-white/60">|</span>}
						</Fragment>
					))
				}
			</div>
			<Typography
				type="h3"
				class="h4 text-dark group-hover:text-primary-500 dark:group-hover:text-primary-300 transition-colors dark:text-white"
				transition:name={`project-title-${name}`}
			>
				{title}
			</Typography>
		</div>
	</a>
</article>
