---
import { GoArrowRight } from "react-icons/go";
import Image from "astro/components/Image.astro";

import { getLangFromUrl, useTranslatedPath } from "@/i18n/utils";
import type { Product } from "@/types";

import { Typography } from "@/components/core/index.astro";

const lang = getLangFromUrl(Astro.url);
const translatePath = useTranslatedPath(lang);

const { products } = Astro.props;
---

<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-12 md:gap-20">
  {
    products.map(({ name, title, thumbnail, category }: Product) => (
      <article class="group relative">
        <a
          href={translatePath(`/shop/${name}`)}
          class="flex flex-col aspect-[4/3]"
        >
          <div class="transition absolute z-10 w-12 h-12 p-2 rounded-full bg-white group-hover:bg-primary-500 group-hover:dark:bg-primary-300 flex items-center justify-center right-5 top-5 text-dark -rotate-45 group-hover:rotate-0 group-hover:scale-125 group-hover:-translate-y-2 group-hover:translate-x-2">
            <GoArrowRight className="w-full h-full " />
          </div>
          {thumbnail && (
            <div class="relative inset-0 transition-transform overflow-clip group-hover:scale-105 rounded-4xl">
              <Image
                src={thumbnail}
                class="w-full h-full object-cover rounded-4xl pointer-events-none"
                alt={title}
                transition:name={`product-image-${name}`}
                width={768}
                height={576}
              />
            </div>
          )}
          <div class="w-full flex flex-col gap-3 justify-end items-start relative z-20 inset-0 py-6 md:py-8">
            <Typography class="h6 transition-colors text-dark/60 group-hover:text-dark/70 dark:text-white/70 dark:group-hover:text-white">
              {category}
            </Typography>
            <Typography
              type="h3"
              class="h4 transition-colors text-dark group-hover:text-primary-500 dark:text-white dark:group-hover:text-primary-300"
              transition:name={`product-title-${name}`}
            >
              {title}
            </Typography>
          </div>
        </a>
      </article>
    ))
  }
</div>
