---
import type { PageLayoutProps } from "@/types"

import { getLangFromUrl, cleanUrl } from "@/i18n/utils"
import { isRouteEnabled } from "@/config/routes"

import HeaderPage from "@/components/ui/HeaderPage.astro"
import NotFoundLayout from "@/layouts/NotFoundLayout.astro"
import Layout from "@/layouts/Layout.astro"
import Sidebar from "@/components/core/Sidebar/index.astro"

type Props = PageLayoutProps

const { props } = Astro
const lang = getLangFromUrl(Astro.url)

const env = import.meta.env.MODE
const currentPath = cleanUrl(Astro.url.pathname)

const isEnabled = isRouteEnabled(currentPath, lang, env)

if (!isEnabled) {
	Astro.response.status = 404
}

const {
	pageTitle,
	title,
	description,
	og_image,
	og_title,
	og_type,
	canonical,
	breadcrumbs,
	nav,
	name,
	langSelector = true,
} = props

const hasNav = nav && Boolean(Object.keys(nav)?.length)
---

{
	isEnabled ? (
		<Layout
			title={title}
			description={description}
			og_image={og_image}
			og_title={og_title}
			og_type={og_type}
			canonical={canonical}
			langSelector={langSelector}
		>
			<div class="dark:bg-dark relative z-10 bg-white">
				<div class="container mx-auto flex flex-col gap-6 px-6">
					<HeaderPage title={pageTitle} {breadcrumbs} name={name} />
					{hasNav ? (
						<div class="grid grid-cols-1 gap-y-8 px-5 py-10 md:grid-cols-12 md:gap-12">
							<div class="col-span-full md:col-span-3">
								<Sidebar data={nav} />
							</div>

							<div class={"col-span-full md:col-span-9"}>
								<slot />
							</div>
						</div>
					) : (
						<slot />
					)}
				</div>
			</div>
		</Layout>
	) : (
		<NotFoundLayout />
	)
}
