---
import { getLangFromUrl, useTranslations, useTranslatedPath } from '../../i18n/utils';
import { NAV_ITEMS } from '../../constants';

import type { NavItem } from '../../constants/types';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const translatePath = useTranslatedPath(lang);
const { pathname } = Astro.url;
const currentPath = pathname.replace(`/${lang}`, '');

const isThisPage = (pageUrl = '', currentPath = '', lang = '') => {
  const currentPage = pageUrl.replace(`/${lang}`, '');
  const paths = currentPath.replace('/', '').split('/');
  const [current] = paths;
  return currentPage === `/${current}`;
};
---

<ul class='flex gap-5'>
  {
    NAV_ITEMS?.map(({ name, href = '' }: NavItem) => {
      const path = translatePath(href);
      const isActive = isThisPage(path, currentPath, lang);

      return (
        <li>
          <a
            href={path}
            class={`text-xl font-bold text-dark dark:text-white font-Syne transition hover:opacity-80 ${
              isActive ? '' : 'opacity-60'
            }`}
          >
            {t(name)}
          </a>
        </li>
      );
    })
  }
</ul>
